/*config*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');
$fontfamily:  -apple-system, BlinkMacSystemFont, 'Noto Sans JP',"roboto", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", "meiryo", sans-serif;

$textColor_basic: #2127B5;
$textColor_red: #FF6A6A;
$KeyColor: #52CEE8;

$TabletPoint:960px;
$MobilePoint:670px;

$sf_color:#fff;
$sf_color:#000;

$effect_color:#FF6A6A;
$color_blue: #43BBD4;
$color_light_red: #FDDFE1;
$color_light_blue: #DEF9FF;



