@charset "UTF-8";
/*config*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/avenir-next-cyr");
/*共通*/
/*mixin*/
/*デザイン*/
* {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

audio, canvas, progress, video {
  display: inline-block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "roboto", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", "meiryo", sans-serif;
  font-size: inherit;
  font-style: normal;
  outline: none;
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "roboto", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", "meiryo", sans-serif;
  color: #2127B5;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  word-break: break-word;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  position: relative;
  z-index: 2;
}

a {
  color: inherit;
}

@media screen and (max-width: 669.99px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 670px) {
  a:hover, button:hover {
    opacity: .8;
  }
  .sp {
    display: none;
  }
  .section.line-sepalater-bottom {
    padding-bottom: calc(50px + 2em);
  }
}

/*共通コンポーネント*/
.button-arrow-large {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.button-arrow-large::after {
  background: no-repeat 50% 50% url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026.52%2051.62%22%3E%3Cdefs%3E%3Cstyle%3E.icon-arrow-large%7Bfill%3Anone%3Bstroke%3A%23eff0f4%3Bstroke-miterlimit%3A4%3Bstroke-width%3A1px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22icon-arrow-large%22%20d%3D%22M.35%2C51.27L25.81%2C25.81%2C.35%2C.35%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain;
  content: "";
  margin-left: 5px;
  height: 30px;
  width: 15px;
}

@media screen and (min-width: 670px) {
  ::after {
    height: 50px;
    width: 25px;
  }
}

/*個別コンポーネント*/
/*form*/
::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}

:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}

::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

::placeholder {
  color: inherit;
  font-size: inherit;
}

input {
  outline: none;
}

input[type="email"] {
  width: 100%;
}

:disabled {
  opacity: 0.5 !important;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  height: 2.75em;
  border-radius: 0;
  font-size: inherit;
}

input[type="date"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: -200vw;
  opacity: 0;
  transition: opacity .2s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

.modal.is__show {
  left: 0;
  opacity: 1;
}

.modal-body {
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  position: relative;
  max-width: 480px;
  width: 90%;
}

.modal-closeBt {
  height: 30px;
  padding: 6px;
  position: absolute;
  top: -42px;
  right: 0;
  width: 30px;
}

.modal-closeBt .icon {
  stroke: #fff;
  height: 18px;
  width: 18px;
}

body.is__locked {
  overflow: hidden;
}

/*infolist*/
.infolist-date {
  flex-shrink: 0;
  font-weight: 600;
  margin-right: 1em;
}

.infolist__item {
  display: flex;
}

.infolist__item + .infolist__item {
  margin-top: 1em;
}

@media screen and (min-width: 670px) {
  .infolist-date {
    margin-right: 2em;
  }
  .infolist__item {
    font-size: 1.6rem;
  }
}

/*newsletter-regbox*/
.newsletter-regbox {
  margin-top: 2em;
}

.newsletter-regbox__primarytext {
  margin-bottom: 3em;
  text-align: center;
}

.newsletter-regbox__formbox {
  column-gap: 2em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
}

.newsletter-regbox__formbox__input {
  background: none;
  border: 0;
  border-bottom: solid 1px;
  color: inherit;
}

.newsletter-regbox__formbox__button {
  align-items: center;
  border: solid 1px;
  border-radius: 2.6em;
  display: flex;
  justify-content: center;
  height: 2.6em;
  padding: 0 1.2em;
  flex-shrink: 0;
  min-width: 7em;
  flex-shrink: 0;
}

@media screen and (max-width: 669.99px) {
  .newsletter-regbox__formbox__button {
    min-width: 66px;
  }
}

@media screen and (min-width: 670px) {
  .newsletter-regbox__primarytext {
    font-size: 2rem;
  }
  .newsletter-regbox__formbox {
    font-size: 1.6rem;
  }
}

/*グローバルトップ*/
body {
  background-color: #000;
  color: #fff;
  line-height: 1.8;
  opacity: 0;
}

body.is_show {
  opacity: 1;
  transition: opacity 2s;
}

.gtop-header {
  display: flex;
  justify-content: flex-end;
  font-family: "Avenir Next Cyr Medium", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "roboto", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", "meiryo", sans-serif;
  padding: 10px;
  width: 100%;
  z-index: 4;
}

.gtop-header__rightbox {
  margin-left: auto;
  width: max-content;
}

#globaltop-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#globaltop-bg img {
  height: auto;
  width: 100%;
}

#globaltop-bg.is_inset img {
  height: 100%;
  width: auto;
  max-width: none;
}

#globaltop-bg::before {
  background: linear-gradient(135deg, #114D89, #179C7E);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 5vh 20px;
}

.gtopmain__logo,
.gtopmain__secondaryText,
.gtopmain__infolist {
  margin-top: 10vh;
}

.gtopmain__logo,
.gtopmain__primaryText {
  max-width: 400px;
  width: 90%;
}

.gtopmain__primaryText img {
  width: 100%;
}

.gtopmain__secondaryText {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.text-line {
  display: inline-block;
}

.infolist {
  max-width: 1080px;
}

/*フッター*/
.gtop-footer {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 30px 0 5px;
  text-align: center;
  z-index: 3;
}

.gtop-footer .global-menu {
  font-family: "Avenir Next Cyr Medium", -apple-system, BlinkMacSystemFont, "Noto Sans JP", "roboto", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", "meiryo", sans-serif;
  margin: 20px auto;
}

.gtop-footer .sitename {
  color: rgba(239, 240, 244, 0.6);
  column-gap: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 0.7vw, 1.4rem);
}

.gtop-footer .logo {
  width: 135px;
}

.prt-copyright {
  color: rgba(239, 240, 244, 0.6);
}

@media screen and (max-width: 670.01px) {
  #logo-copy {
    transform: scale(1.4) translateY(-10%);
  }
  .gtop-footer .global-menu__item + .global-menu__item {
    margin-top: .3em;
  }
}

@media screen and (min-width: 670px) {
  .gtop-header {
    padding: 30px;
  }
  .gtopmain__logo,
  .gtopmain__primaryText {
    max-width: 860px;
    width: 70%;
  }
  .gtop-footer {
    align-items: center;
    display: flex;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 clamp(10px, 2%, 30px);
    width: 100%;
    z-index: 3;
  }
  .gtop-footer__contents {
    align-items: center;
    column-gap: 1em;
    display: flex;
    justify-content: space-between;
    min-height: 108px;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .gtop-footer .sitename {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    white-space: nowrap;
  }
  .gtop-footer .logo {
    margin-right: 1.5em;
    max-width: 100%;
    width: 200px;
  }
  .gtop-footer .global-menu {
    display: flex;
    column-gap: 1em;
    flex-grow: 1;
    font-size: 2rem;
    justify-content: flex-end;
  }
  .gtop-footer .global-menu__item {
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    flex-shrink: 0;
    margin: 0 clamp(0em, calc(4vw - 40px), 3em);
    white-space: nowrap;
  }
  .gtop-footer .prt-copyright {
    font-size: clamp(1rem, 0.7vw, 1.4rem);
    flex-shrink: 0;
  }
  .gtopmain__logo,
  .gtopmain__secondaryText,
  .gtopmain__infolist {
    margin-top: 10vh;
  }
  #main {
    padding: 10vh 20px;
  }
}

/*animation*/
.is_inset {
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.is_inset > * {
  display: inline-block;
}

.is_inset #bgimage img, .is_inset #bgimage-clone img {
  animation: bganimation 30s linear infinite both;
}

@keyframes bganimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=globaltop.css.map */
