/*animation*/
.is_inset{

    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    > * {
        display: inline-block;
        height: 100%;
    }

    #bgimage,#bgimage-clone{
        img {
            animation: bganimation 30s linear infinite both;
        }
    }

}

@keyframes bganimation {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100%)
    }
}
